.row {
  background-color: rgb(9, 25, 47);
  .left-column {
    float: left;
    width: 100%;
  }
  .right-column {
    float: left;
    width: 30%;
    padding-left: 20px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-flow: column;

    .left-column {
      order: 2;
      width: 100%;
      padding: 0;
    }

    .right-column {
      order: 1;
      width: 100%;
      padding: 0;
    }
  }
}
