.deloitte-blog-container {
  // background-color: rgb(240, 240, 240, 0.4);
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;

  text-align: center;
  h1 {
    color: rgb(200, 209, 242);
  }

  .deloitte-img {
    width: 70%;
  }


  @media screen and (max-width: 600px) {
    text-align: center;
    & {
      padding: 2%;
    }
  }

}
