.about-me-container {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  margin-top: 20px;
  animation: 1s ease-in 0s 1 about-me-slide-in forwards;

  h1, p, h3{
    // animation: 1s ease-in 0s 1 appear;
    // animation: 1s ease-in 0s 1 appear forwards;
    opacity: 0%;
    animation: 1s ease-in 1s 1 hey-there-animation forwards;
  }

  .profile-pic {
    animation-iteration-count: 1;
    animation: 1s ease-in 0s 1 profile-pic-animation forwards;
    opacity: 100%;
    width: 70%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.1s;
  }


  @media screen and (max-width: 600px) {
    text-align: center;
  }

  @keyframes profile-pic-animation {
    0% {
      width: 0%;
      opacity: 0%;
    }
    100% {
      width: 70%;
      opacity: 100%;
    }
  }

  @keyframes hey-there-animation {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
}
