.about-me-container {
  background-color: rgba(255, 244, 238, 1);
  padding: 20px;
  margin-top: 20px;

  .profile-pic {
    opacity: 100%;
    width: 70%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.1s;
  }

  @media screen and (max-width: 600px) {
    text-align: center;
  }
}
