.spain-blog-container {
  background-color: rgba(255, 244, 238, 1);
  padding: 20px;
  margin-top: 20px;

  .spain-img {
    width: 70%;
  }

  @media screen and (max-width: 600px) {
        text-align: center;
  }
}
