.intro-container {
  width: 100vw;
  height: 90vh;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 3%;
  // margin-left: 15vw;
  // padding-right: 5vw;

  
  .my-name {
    color: rgb(204, 214, 246);
    // color: rgb(84, 214, 185);
    // color: hotpink;
    font-size: clamp(50px, 5vw, 6vw);
    font-weight: 100;
    margin: 0;
  }

  .title-description {
    color: rgb(136, 146, 176);
    // color: hotpink;
    font-size: clamp(30px, 3vw, 4vw);
    margin: 1;
  }

  .links-container {
    padding-top: 10%;
    width: 100vw;
    a {
      color: rgb(84, 214, 185);
      border: 2px solid rgb(84, 214, 185);
      border-radius: 5px;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-right: 2%;
      padding-left: 2%;
      margin-right: 5%;
      margin-top: 20%;
    }

    a:hover{
      background-color: rgba(84, 214, 185, 0.5);
      border: 2px solid rgba(0, 0, 0, 0);
      color: black
    }
  }


  .hello-world {
    color: rgb(84, 214, 185);
    font-size: clamp(20px, 2vw, 4vw);
  }
  

  @media screen and (max-width: 750px) {
    & {
      padding-left: 5%;
      padding-right: 0%;
      padding-top: 20%;
    }
  }
}
