.lets-connect-container {
  background-color: rgba(242, 231, 235, 1);
  padding: 20px;
  margin-top: 20px;

  a {
    font-size: 20px;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}
