.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .title {
    // display: none;
    height: 100%;
    width: 50%;
    text-align: left;
    justify-content: center;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 100%;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link-resume {
      padding: 10px 15px;
      cursor: pointer;
    }

    .nav-link-my-story {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 600px) {
    .title {
      font-size: 70%;
      width: 15%;
      padding-left: 0px;
    }

    .nav-links-container .nav-link-resume, .nav-link-my-story {
      padding: 0;
    }

  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }
}
