.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(9, 25, 47);

  .title {
    // display: none;
    height: 100%;
    width: 50%;
    text-align: left;
    justify-content: center;
    padding-left: 4%;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 100%;
    color: rgb(84, 214, 185);
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link-resume {
      padding: 10px 15px;
      color: rgb(84, 214, 185);
      cursor: pointer;
    }

    .nav-link-my-story {
      padding: 10px 15px;
      color: rgb(84, 214, 185);
      cursor: pointer;
    }
  }

  @media screen and (max-width: 600px) {
    .title {
      font-size: 70%;
    }
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }
}
