.site-info-container {
  background-color: rgba(242, 231, 235, 1);
  padding: 20px;
  margin-top: 20px;
  height: 50vh;


  dd {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .description {
    display: none;
  }

  dd:hover {
    font-weight: bold;

    .description {
      display: inline;
    }

  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}
