.blog-intro-container {
  background-color: rgba(255, 244, 238, 1);
  background-image: url(https://d34316robnoe1k.cloudfront.net/night_market.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  height: 85vh;

  .calpoly-img {
    width: 70%;
    min-height: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-text {
    line-height: 85vh;
    color: white;
    font-size: large;
    font-style: italic;
  }
}
