.my-story-container {
    margin: 20px;

  .profile-pic {
    width: 40%;
    max-width: 500px;
    float: left;
    padding-top: 15px;
    margin-right: 3%;
  }

  .profile-text {
    width: 100%;
    // margin-left: 40%;
  }
}
